<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      
    
    <% if user_signed_in? %>
   <ul class="nav navbar-nav navbar-right"> 
         
      <li>   <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

     </ul>
    
<%else %>
           
     <ul class="nav navbar-nav navbar-right">  
       
       <li> <%= link_to "Sign In",new_user_session_path %></li>
      <li> <%= link_to "Sign In With Facebook",user_omniauth_authorize_path(:facebook)%></li>
      </ul>
     <%end %>


  </div>
</nav>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container-fluid">
	<div class="jumbotron">

       


	<%= yield %>

	</div>
</div>
</body>
</html>
